**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/.nuxt
**/.output
**/.cache
**/.data
**/test-results
**/playwright-report
homebox-*.tar
homebox-*.tar.gz
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
!Dockerfile.rootless
